<section>
  <h1>Projects</h1>
  <ul>
    <li><a href="{{ root_url }}/finit.html">Fast Init Replacement</a></li>
    <li><a href="{{ root_url }}/uftpd.html">Micro TFTP/FTP Daemon</a></li>
    <li><a href="{{ root_url }}/tetris.html">Micro Tetris&trade;</a></li>
    <li><a href="{{ root_url }}/snake.html">Micro Snake</a></li>
    <li><a href="{{ root_url }}/editline.html">Minix Editline</a></li>
    <li><a href="{{ root_url }}/inadyn.html">Inadyn DDNS Client</a></li>
    <li><a href="{{ root_url }}/mrouted.html">The Original Multicast Routing Daemon</a></li>
    <li><a href="{{ root_url }}/pimd.html">The Original PIM-SM Daemon</a></li>
    <li><a href="{{ root_url }}/smcroute.html">SMCRoute Static Multicast Routing</a></li>
  </ul>
</section>
