<div class="sidebar-module about">
  <h4>About Me</h4>
  <a href="{{ site.baseurl }}/about/"><img title="{{site.author}}" style="border: none;"
     src="{{site.aboutme_photo}}" alt="{{site.author}}"/></a>
  <span>{{site.aboutme}}</span>
  <br />

  {% if site.ShowContactInfo == "True" %}

  Contact:

  {% if site.email != empty %}
  <a href="mailto:{{site.author}} <{{site.email}}>" title="mailto:{{site.email}}">Email</a> /
  {% endif %}
  {% if site.github_username != empty %}
  <a href="https://github.com/{{site.github_username}}" title="GithubID: {{site.github_username}}">Github</a> /
  {% endif %}
  {% if site.twitter_username != empty %}
  <a href="https://twitter.com/{{site.twitter_username}}" title="TwitterID: {{site.twitter_username}}">Twitter</a>
  {% endif %}

  {% endif %}

</div>
