<!--  <li><a href="{{ root_url }}/">Blog</a></li> -->
<ul class="main-navigation">
  <li><a href="{{ root_url }}/about">About</a></li>
  <li><a href="http://resume.troglobit.com">Resume</a></li>
  <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
  <li><a href="http://git.troglobit.com">GIT</a></li>
  <li><a href="{{ root_url }}/finit.html">Finit</a></li>
  <li><a href="{{ root_url }}/inadyn.html">Inadyn</a></li>
  <li><a href="{{ root_url }}/smcroute.html">SMCRoute</a></li>
  <li><a href="{{ root_url }}/mrouted.html">mrouted</a></li>
  <li><a href="{{ root_url }}/pimd.html">pimd</a></li>
  <li><a href="{{ root_url }}/uftpd.html">uftpd</a></li>
</ul>
