// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.entry-title a {
  font-size: 0.8em;
}
.entry-title {
  font-size: 1.8em;
}

// Gist fixes from http://devspade.com/blog/2013/08/06/fixing-gist-embeds-in-octopress/
.gist-file {
  font-size:.8em !important;
}

table.lines{
  width: 100%;
}

header[role="banner"] {
     background-image: url(/images/header.jpg);
     background-repeat: no-repeat;
}